@import "../../styles/Variables.module.scss";

.gridContainer {
  display: grid;
  grid-gap: $gutter 0;
  grid-template-columns: $gutter 1fr $gutter;
  align-content: start;
  > * {
    grid-column: 2 / -2;
  }
  > .full {
    grid-column: 1 / -1;
  }
}

.scrollableList {
  display: grid;
  grid-gap: $gutter;
  padding-left: 50px;
  grid-template-columns: 10px;
  grid-template-rows: minmax(150px, 1fr);
  grid-auto-flow: column;
  grid-auto-columns: calc(50% - $gutter * 3);
  overflow-x: scroll;
  scroll-snap-type: x proximity;
  padding-bottom: calc(0.75 * $gutter);
  margin-bottom: calc(-0.25 * $gutter);
  @media (max-width: $smallScreenBreakPoint) {
    display: flex;
    flex-direction: column;
    padding-left: 0;
  }
}

.scrollableList:before,
.scrollableList:after {
  content: "";
  width: 10px;
}
